<style>
  @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500;600;700&display=swap');
</style>

{
    box-sizing: border-box;
 margin: 0;
 padding:0;
    font-family: 'Hahmlet', serif;
}

html, body {
    background-image: url('Whiteroom.jpg'); /* Add your image as the background */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; /* Makes sure the body covers the full viewport height */
    width: 100vw; /* Ensures the body covers the full viewport width */
    overflow-x: hidden; /* Prevents horizontal scroll */
    background-color: #000000;
    font-size: 16px; /* Adjust base font size */
    line-height: 1.6; /* Adjust line height */
  }


.showcase {
    position: absolute
    top: 0%;
    width: 300%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: : center;
    background: #fff;
   
}

.mascot {
    position: absolute;
    left: 67%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}    

.social {
        position: absolute;
        top: 220px;
        right: ;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: :right;
    

}

.menu {
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 1000;
    font: 50px 'Hahmlet', serif;
}

.logo {
    position: absolute;
    left: 67%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.moutain {
    position: absolute;
    left: 70%;
    right: ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.text {
    position: absolute;
    left: 0%;
    right: ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
